services:
  analysis-dashboard:
    build: .
    ports:
      - "8501:8501"
      - "5433:5433"
    environment:
      DB_URL: ${DB_URL:-}
      PASSWORD: ${PASSWORD:-example}
      AUTH0_CLIENT_ID: ${AUTH0_CLIENT_ID:-}
      AUTH0_DOMAIN: ${AUTH0_DOMAIN:-}
    networks:
      - analysis-net

networks:
  analysis-net:
    driver: bridge
