altair==4.2.2
nowcasting_datamodel==1.5.29
pvsite-datamodel==1.0.7
numpy==1.24.1
pandas==1.5.3
plotly==5.10.0
psycopg2-binary==2.9.5
SQLAlchemy==1.4.46
streamlit==1.27.2
testcontainers==3.2.0
uvicorn==0.23.2
geopandas==0.14.2
garrett-streamlit-auth0==0.9
pydantic=1.10.10

