altair==5.5.0
requests==2.32.3
nowcasting_datamodel==1.7.3
pvsite-datamodel==1.2.14
numpy>=1.24,<2.0
pandas>=2.1,<2.2
plotly==5.24.1
psycopg2-binary==2.9.10 
SQLAlchemy==2.0.36
streamlit==1.46.1
testcontainers==4.9.0
uvicorn==0.34.0
geopandas==1.0.1
garrett-streamlit-auth0==0.9
pydantic==2.5.3
xarray>=2024.6,<2025
fsspec>=2024.6,<2025
s3fs>=2024.6,<2025
ocf_blosc2==0.0.11
zarr>=3.0,<4.0
elexonpy==1.0.15
fiona>=1.9,<2.0
herbie-data
numcodecs>=0.12,<1.0
torch>=2.0,<3.0
matplotlib>=3.8,<4.0

